<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <link rel="stylesheet" href="/public/Home/css/common.css">
    <link rel="stylesheet" href="/public/Home/css/register.css">
    <script src="/public/Home/js/jquery-1.9.1.js"></script>

</head>
<body>
<div id="container" class="bg-img">
    <img id="background" src="/public/Home/images/bg.png" alt="">
</div>
<div class="login">
    <ul>
        <li><img src="/public/Home/images/phone.png" alt=""><input id="nick_name" type="text" placeholder="请输入姓名"></li>
        <li><img src="/public/Home/images/phone.png" alt=""><input id="phone" type="text" placeholder="请输入手机号码"></li>
        <li><img src="/public/Home/images/lock.png" alt=""><input id="pwd" type="password" placeholder="请输入密码"><img width="24px" height="24px" src="/public/Home/images/open.png" alt=""></li>
        <li><img src="/public/Home/images/lock.png" alt=""><input id="repwd" type="password" placeholder="请再次输入密码"><img src="/public/Home/images/close.png" alt=""></li>
    </ul>
    <div class="little">
        <input class="chick" id="chk" checked type="checkbox">
        <label for="chk"></label>
        <p>同意《 <span>房客行用户协议</span>》</p>
    </div>
    <div class="btn sub">
        <a class="">点击注册</a>
    </div>
</div>
<script>
    $('.login>ul li').on('click','input',function(){
        $(this).val('')
    })

    $('.sub').click(function(){

        var phone = $('#phone').val();
        var nick_name = $('#nick_name').val();
        var pwd = $('#pwd').val();
        var repwd = $('#repwd').val();
        //判断手机号码是否已经注册过了
        if(!phone || !pwd){
            alert('手机号码或者密码不能为空');
            return false;
        }
        if(pwd.length < 6 ){
            alert('密码长度必须大于6位数');
            return false;
        }
        if(pwd != repwd){
            alert('两次密码不一致');
            return false;
        }
        var info = {'pwd':pwd,phone:phone,repwd:repwd,nick_name:nick_name}
        $.post("{:U('Login/regin_in')}",info,function(data){
            console.log(data)
            if(1 == data.status){
                alert(data.info);
                location.href = "{:U('Index/index')}";
            }else{
                alert(data.info)
            }
        })








    })

</script>
<script src="/public/Home/js/actions.js"></script>
</body>
</html>