<extend name="Public/main" />
<block name="css">
    <link rel="stylesheet" href="/public/Home/css/index.css">
</block>

<block name="main">
    <div class="main_visual">
        <div class="flicking_con">
        </div>
        <div class="main_image">
            <ul>
                <volist name="ad" id="a" key="ak">
                <li><span><a href="{$a.url}"><img id="b_{$ak + 1}" src="{$a.pic}"></a></span></li>
                </volist>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>

        </div>
    </div>
    <div class="mid-container">
        <ul>
            <li>

                <img src="/public/Home/images/tuijian.png" alt="">
                <a href="">推荐注册分佣</a>
            </li>
            <li>
                <a href="{:U('Center/mymoney')}">
                <img src="/public/Home/images/money.png" alt=""></a>
                <a href="{:U('Center/mymoney')}">我的佣金</a>
            </li>
            <li> <a href="{:U('Lists/index')}">
                <img src="/public/Home/images/buls.png" alt=""></a>
                <a href="{:U('Lists/index')}">全部房源</a>
            </li>
        </ul>
    </div>
    <div class="mid-text">
        <h1>精选房源</h1>
    </div>

    <div class="con" style="padding-bottom:50px;">
        <volist name="info" id="vo">
            <div class="main-container">
                <a href="{:U('Lists/lpinfo',array('id'=>$vo['id']))}">
                    <img src="{$vo.pic}" alt="">
                </a>
                <div class="main-container-text">
                    <p>{$vo.title}</p>

                    <p>佣金：<span><?php if($yongjin == 1){ ?>{$vo.prices} <?php }else{ echo '登录可见'; ?> <?php } ?></span></p>
                </div>
                <div class="main-container-bottom">
                    <img src="/public/Home/images/local.png" alt="">
                    <p>{$vo.address}</p>
                </div>
            </div>
        </volist>
    </div>
</block>
<block name="js">
    <script>
                var indexLi = $('.main_image>ul li').length;               
            (function() {
                var wid = window.innerWidth*0.04;
                var left = Number($('.flicking_con').css('left').slice(0,3))
                
                var num = indexLi-3;
                var slip = left-num*wid;
                console.log(slip)
                $('.flicking_con').css('left',slip)
                for(i=0;i<indexLi;i++){
                    var a = '<a></a>'
                    
                $('.flicking_con').append(a)
            }
            })()

        var current_loading = false;
        var page_container_object =  $("body").get(0);
        var time=1;
        $(window).scroll(function(){
            var scroll_interval = page_container_object.scrollHeight - page_container_object.scrollTop-page_container_object.clientHeight;
            if (scroll_interval <= 100 && !current_loading) {
                current_loading = true;
                loadMore(time);
            }
        });
        //"向服务器请求数据"
        function loadMore(te) {

            $.get("{:U('Index/loadloupan')}",{ time : te} , function(data) {
                if(data.status==0){
                    // $(".loadingA").add(".loadingB").add(".loadingC").hide();
                }else{
                    $(".con").last().append(data.info);
                    current_loading =false;
                    time++;
                }
            });
        }

    </script>
    
</block>

